$padding: 20px;
$border: 1px solid #282c34;

.module-section {
  width: 100%;
  display: flex;

  &__header {
    width: calc(100% - (2 * $padding));
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 $padding;
    border-bottom: $border;

    &:hover {
      background-color: aliceblue;
    }
  }

  &__sub-content {
    width: 100%;
    padding: 10px $padding;
    border-bottom: $border;
    border-left: $border;
    cursor: default;
  }
}
